.order_lists {
	position: relative;
	z-index: 9;
	padding-bottom: 20rpx;
	.order_item {
		font-size: 28rpx;
		.order_t {
			padding: 16rpx 20rpx;
			font-size: 30rpx;
			color: #666;
			border-bottom: 1rpx #eee solid;
			line-height: 44rpx;
			display: flex;
			align-items: center;
			.left{
				flex:1;
			}
			.del-icon{
				border-radius: 50%;
				width: 52rpx;
				height: 52rpx;
				line-height: 52rpx;
				text-align: center;
				background-color: #f3f3f3;
			}
		}
		.order_count{
			height: 80rpx;
			line-height: 80rpx;
			display: flex;
			justify-content: flex-end;
			padding: 0 20rpx;
		}
		.btn-group {
			padding: 16rpx 20rpx;
			border-top: 1rpx #eee solid;
			.btn-item{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.btn-nav {
					min-width: 160rpx;
					padding: 0 30rpx;
					height: 64rpx;
					line-height: 64rpx;
					border-radius: 64rpx;
					margin-left: 20rpx;
					border: 1rpx $color-primary solid;
					color: $color-primary;
					text-align: center;
					position: relative;
					
				}
			}
		}
	}
}