@font-face {
  font-family: 'iconfont';  /* project id 906512 */
  src: url('//at.alicdn.com/t/font_906512_azxoez9srid.eot');
  src: url('//at.alicdn.com/t/font_906512_azxoez9srid.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_906512_azxoez9srid.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_906512_azxoez9srid.woff') format('woff'),
  url('//at.alicdn.com/t/font_906512_azxoez9srid.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_906512_azxoez9srid.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before{content: "\e63b";}
.icon-user:before{content: "\e622";}
.icon-order:before{content: "\e627";}
.icon-article:before{content: "\e60b";}
.icon-message:before{content: "\e66b";}
.icon-merchant:before{content: "\e600";}
.icon-horse:before{content: "\e688";}
.icon-dis:before{content: "\ef004";}
.icon-finance:before{content: "\e64e";}

.icon-:before{content: "\e";}
